@page "/"

<h3>Welcome to Archery Tournament Creator</h3>

<h5> Please select an option</h5>


<div class="d-grid gap-2 col-6 mx-auto mt-4">
    <NavLink href="/create" class="btn btn-primary">Create New Tournament</NavLink>
    <NavLink href="/tournaments/current" class="btn btn-secondary">View/Edit Current Tournaments</NavLink>
    <NavLink href="/tournaments/archived" class="btn btn-outline-secondary">View Archived Tournaments</NavLink>
</div>
