@page "/"

<h3>Welcome to ArcheryScorecard</h3>

<div class="d-grid gap-3 mt-4">
    <NavLink class="btn btn-primary" href="tournaments/create">Create Tournament</NavLink>
    <NavLink class="btn btn-secondary" href="tournaments/current">Current Tournaments</NavLink>
    <NavLink class="btn btn-outline-secondary" href="tournaments/archived">Archived Tournaments</NavLink>
</div>